<li style="font-size: 150%;">
    {{name}}

    <button class="change-devoured btn btn-light ml-3" data-id="{{id}}" data-newdevoured="{{devoured}}">
        DEVOUR!
    </button>

    <button class="delete-burger btn btn-dark ml-3" data-id="{{this.id}}">DELETE!</button>
</li>